In [30]:
# Dependencies
import json
import requests
import pandas as pd
import requests
from config import api_key

In [31]:
# Pulling information from Star Wars API

# List of film numbers
search_films = ['1','2','3', '4','5','6']

# Set url for SWAPI
SWAPI_url = 'https://swapi.dev/api/films/'

# Set empty lists to hold various information
Title = []
Episode_id = []
Director = []
Release_date = []
opening_crawl = []

# Loop through each film number
for film in search_films:
    
    # Create search query, make request and store in json
    query = SWAPI_url + film
    response = requests.get(query)
    response_json = response.json()
    
    # Try to grab the various information if they are available in the Star Wars API
    try:
        Title.append(response_json['title'])
        Episode_id.append(response_json['episode_id'])
        Director.append(response_json['director'])
        Release_date.append(response_json['release_date'])
        opening_crawl.append(response_json['opening_crawl'])
        print(f"{film} found! Appending stats")
        
    # Handle exceptions for info that is not available in the Star Wars API
    except:
        # Append null values
        print("Film not found")
        pass

# Create DataFrame
SWAPI_DF = pd.DataFrame({
    'Title' : Title,
    'Episode_id' : Episode_id,
    'Director' : Director,
    'Release_date' : Release_date,
    'opening_crawl' : opening_crawl,
})

#Reindex the SWAPI_DF for release order
index = pd.Index(['1', '2', '3','4','5','6'])
SWAPI_DF = SWAPI_DF.set_index(index)
SWAPI_DF

1 found! Appending stats
2 found! Appending stats
3 found! Appending stats
4 found! Appending stats
5 found! Appending stats
6 found! Appending stats

,Title,Episode_id,Director,Release_date,opening_crawl
1,A New Hope,4,George Lucas,1977-05-25,It is a period of civil war.\r\nRebel spaceshi...
2,The Empire Strikes Back,5,Irvin Kershner,1980-05-17,It is a dark time for the\r\nRebellion. Althou...
3,Return of the Jedi,6,Richard Marquand,1983-05-25,Luke Skywalker has returned to\r\nhis home pla...
4,The Phantom Menace,1,George Lucas,1999-05-19,Turmoil has engulfed the\r\nGalactic Republic....
5,Attack of the Clones,2,George Lucas,2002-05-16,There is unrest in the Galactic\r\nSenate. Sev...
6,Revenge of the Sith,3,George Lucas,2005-05-19,War! The Republic is crumbling\r\nunder attack...

In [32]:
# Pulling information from OMDB

# List of release years
search_year = ['1977','1980','1983', '1999','2002','2005']

# Set url for OMDB API
OMDB_url = f"http://www.omdbapi.com/?apikey={api_key}&t=star+wars&y="

# Set empty lists to various information 
Name = []
Actors = []
Genre = []
Metascore = []
Awards = []
BoxOffice = []
Runtime = [] 
DVD_Release_Date = []

# Loop through each release year
for year in search_year:
    
    # Create search query, make request and store in json
    query = OMDB_url + year
    response = requests.get(query)
    response_json = response.json()
    
    # Try to grab the information if they are available in the OMDB
    try:
        Name.append(response_json['Title'])
        Actors.append(response_json['Actors'])
        Genre.append(response_json['Genre'])
        Metascore.append(response_json['Metascore'])
        Awards.append(response_json['Awards'])
        BoxOffice.append(response_json['BoxOffice'])
        Runtime.append(response_json['Runtime'])
        DVD_Release_Date.append(response_json['DVD'])
        print(f"{film} found! Appending stats")
        
    # Handle exceptions for a character that is not available in the OMDB
    except:
        # Append null values
        print("Film not found")
        pass

# Create DataFrame
OMDB_DB = pd.DataFrame({
    'Name' : Name,
    'Actors' : Actors,
    'Genre' : Genre,
    'Metascore' : Metascore,
    'Awards' : Awards,
    'BoxOffice' : BoxOffice,
    'Runtime' : Runtime,
    'DVD_Release_Date' : DVD_Release_Date 
})

#Reindex the OMDB_DB for release order
index = pd.Index(['1', '2', '3','4','5','6'])
OMDB_DB = OMDB_DB.set_index(index)
OMDB_DB

6 found! Appending stats
6 found! Appending stats
6 found! Appending stats
6 found! Appending stats
6 found! Appending stats
6 found! Appending stats

,Name,Actors,Genre,Metascore,Awards,BoxOffice,Runtime,DVD_Release_Date
1,Star Wars,"Mark Hamill, Harrison Ford, Carrie Fisher","Action, Adventure, Fantasy",90,Won 6 Oscars. 63 wins & 29 nominations total,"$460,998,507",121 min,06 Dec 2005
2,Star Wars: Episode V - The Empire Strikes Back,"Mark Hamill, Harrison Ford, Carrie Fisher","Action, Adventure, Fantasy",82,Won 1 Oscar. 25 wins & 20 nominations total,"$292,753,960",124 min,21 Sep 2004
3,Star Wars: Episode VI - Return of the Jedi,"Mark Hamill, Harrison Ford, Carrie Fisher","Action, Adventure, Fantasy",58,Nominated for 4 Oscars. 23 wins & 20 nominatio...,"$309,306,177",131 min,21 Sep 2004
4,Star Wars: Episode I - The Phantom Menace,"Ewan McGregor, Liam Neeson, Natalie Portman","Action, Adventure, Fantasy",51,Nominated for 3 Oscars. 26 wins & 69 nominatio...,"$474,544,677",136 min,22 Mar 2005
5,Star Wars: Episode II - Attack of the Clones,"Hayden Christensen, Natalie Portman, Ewan McGr...","Action, Adventure, Fantasy",54,Nominated for 1 Oscar. 19 wins & 65 nomination...,"$310,676,740",142 min,22 Mar 2005
6,Star Wars: Episode III - Revenge of the Sith,"Hayden Christensen, Natalie Portman, Ewan McGr...","Action, Adventure, Fantasy",68,Nominated for 1 Oscar. 26 wins & 63 nomination...,"$380,270,577",140 min,01 Nov 2005

In [42]:
# Merge the two data frames by index
merge_df = pd.merge(SWAPI_DF, OMDB_DB, on=index)

# Drop the redundant "title" column, key_0 column, and Episode_id column
merge_df = merge_df.drop(["Title"], axis=1)
merge_df = merge_df.drop(["key_0"], axis=1)
merge_df = merge_df.drop(["Episode_id"], axis=1)

# Edit an individual cell to match naming convention of other films
merge_df.at[0,"Name"]="Star Wars: Episode IV - A New Hope"

# Edit the cells in DVD Release Date Column to match format of the Release Date column
merge_df.at[0,"DVD_Release_Date"]="2005-12-06"
merge_df.at[1,"DVD_Release_Date"]="2004-09-21"
merge_df.at[2,"DVD_Release_Date"]="2004-09-21"
merge_df.at[3,"DVD_Release_Date"]="2005-03-22"
merge_df.at[4,"DVD_Release_Date"]="2005-03-22"
merge_df.at[5,"DVD_Release_Date"]="2005-11-01"

#Reindex for release order
index = pd.Index(['1', '2', '3','4','5','6'])
merge_df = merge_df.set_index(index)

# Rename four columns more appropriately 
final_df = merge_df.rename(columns={"DVD_Release_Date":"DVD Release Date", "Release_date":"Release Date","opening_crawl":"Opening Crawl", "BoxOffice":"Revenue"})

final_df

,Director,Release Date,Opening Crawl,Name,Actors,Genre,Metascore,Awards,Revenue,Runtime,DVD Release Date
1,George Lucas,1977-05-25,It is a period of civil war.\r\nRebel spaceshi...,Star Wars: Episode IV - A New Hope,"Mark Hamill, Harrison Ford, Carrie Fisher","Action, Adventure, Fantasy",90,Won 6 Oscars. 63 wins & 29 nominations total,"$460,998,507",121 min,2005-12-06
2,Irvin Kershner,1980-05-17,It is a dark time for the\r\nRebellion. Althou...,Star Wars: Episode V - The Empire Strikes Back,"Mark Hamill, Harrison Ford, Carrie Fisher","Action, Adventure, Fantasy",82,Won 1 Oscar. 25 wins & 20 nominations total,"$292,753,960",124 min,2004-09-21
3,Richard Marquand,1983-05-25,Luke Skywalker has returned to\r\nhis home pla...,Star Wars: Episode VI - Return of the Jedi,"Mark Hamill, Harrison Ford, Carrie Fisher","Action, Adventure, Fantasy",58,Nominated for 4 Oscars. 23 wins & 20 nominatio...,"$309,306,177",131 min,2004-09-21
4,George Lucas,1999-05-19,Turmoil has engulfed the\r\nGalactic Republic....,Star Wars: Episode I - The Phantom Menace,"Ewan McGregor, Liam Neeson, Natalie Portman","Action, Adventure, Fantasy",51,Nominated for 3 Oscars. 26 wins & 69 nominatio...,"$474,544,677",136 min,2005-03-22
5,George Lucas,2002-05-16,There is unrest in the Galactic\r\nSenate. Sev...,Star Wars: Episode II - Attack of the Clones,"Hayden Christensen, Natalie Portman, Ewan McGr...","Action, Adventure, Fantasy",54,Nominated for 1 Oscar. 19 wins & 65 nomination...,"$310,676,740",142 min,2005-03-22
6,George Lucas,2005-05-19,War! The Republic is crumbling\r\nunder attack...,Star Wars: Episode III - Revenge of the Sith,"Hayden Christensen, Natalie Portman, Ewan McGr...","Action, Adventure, Fantasy",68,Nominated for 1 Oscar. 26 wins & 63 nomination...,"$380,270,577",140 min,2005-11-01